.card
{
  .card-text
  {
    height: 3em;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    font-size: 15px;
    font-weight: 600;
    color: #2c3341;
    text-align: left;
  }
  .card-title
  {
    height: 3em;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    font-weight: 600;
  }
}
